@import "tailwindcss";
/* 0a233f */
:root {
  --background: #e7ecef;
  --foreground: #1b263b;
  --darkblue: #0d2f56;
 
}

@theme inline {
  --color-background: var(--background);
  --color-darkblue: var(--darkblue);
  --color-foreground: var(--foreground);
 --animate-wiggle: wiggle 1s ease-in-out infinite;
  --font-roboto:  var(--font-roboto);
  --font-open-sans: var(--font-openSans);
  --font-norge: var(--font-norge);
  --spacing-wrapperMax: 1900px
  
}


html {
  scroll-behavior: smooth;
}
body {
  background: var(--background);
  color: var(--foreground);
  
}

  @keyframes wiggle {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }

